.all__users h4{
    color:var(--primary-color);
}
.table__users{
    line-height: 60px;
}
.table__users tr td img{
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
    border-radius: 50%;
 }
.ri-delete-bin-6-fill{
    cursor: pointer;
}