form{
    margin-bottom: 60px;
}
.billing__form .form__group input{
    border: 1px solid var(--small-text-color);
}


.country__select,
textarea{
    border: 1px solid var(--small-text-color);
    padding: 8px 20px;
    border-radius: 5px;
}
.checkout__cart{
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}
.checkout__cart h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout__cart h6{
    margin-bottom: 20px;
}
.checkout__cart .total__price{
    color: var(--link-hover-color);
    border-top: 1px solid var(--link-hover-color);
    padding-top: 10px;
}
